* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../assets/images/pexels-designecologist-1005058.jpg);
    background-size: cover;
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    background-attachment: fixed;

}

/* .tinted-image { */
    /* background-image: */
        /* top, transparent red */
        /* linear-gradient(rgba(255, 0, 0, 0.35), */
            /* rgba(255, 0, 0, 0.35)), */
        /* your image */
        /* url(image.jpg); */
/* } */

/* .overlay::before{
    content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: -1;
} */

.nav-bar {
    background-color: #445828b2;
    display: flex;
    height: 10vh;
    align-items: center;
    /* width: 100%; */
    margin: auto;
    padding: 10px;
    flex-direction: row;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    /* left: 0;
    right: 0; */

}

.nav-bar div img {
    padding-left: 20px;
}

.nav-items {
    width: 70%;
    margin: auto;
    /* padding: 15px; */
    text-align: right;
}



.nav-items a {
    /* text-align: right; */
    text-decoration: none;
    padding: 15px;


}

.text-white {
    color: white
}

.overlay .text-white {
    text-align: right;
    padding-top: 199px;
}

.overlay .header-text p {
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 5px;
    padding-bottom: 20px;
}

.overlay .header-text h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1px;
    padding-bottom: 20px;
}

.overlay .header-text button {
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #334220;
    text-align: center;
    font-size: 25px;
    padding: 25px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.overlay .header-text button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.overlay .header-text button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.overlay .header-text button:hover span {
    padding-right: 25px;
}

.overlay .header-text button:hover span:after {
    opacity: 1;
    right: 0;
}

.overlay .header-text {
    padding-right: 100px;
}

/* Fisrt Section */
.container1{
    padding-top: 50px;
}
.container1 .head-text {
font-size: 40px;
text-align: center;
font-weight: 600;
padding-bottom: 20px;
color: #334220;
}
.container1 hr{
    width: 25%;
    margin: auto;
    border: none;
    height: 1px;
    background-color: #334220;
    border-radius: 10px;
    /* padding: 0.5px; */
}
.text-container1{
    /* padding-bottom: 20px; */
}
.sub-container1{
    display: flex;
    margin: auto;
    padding: 100px;
}
.sub-container1 div{
    width: 33%;
    padding: 25px;
}
.sub-container1 div img{
width: 100%;
border-top-left-radius: 70px;
border-bottom-right-radius: 50px;
border-top-right-radius: 20px;
filter: drop-shadow(20px 20px 10px #334220 );
}
.sub-container1 div p{
    padding-bottom: 50px;
    text-align: justify;
  text-justify: inter-word;
}
